// Specific CSS for your home-page

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color:rgb(12,10,10)!important;
}

.footmh {
  width: 100%;
}

.particles-js-canvas-el {
  position: fixed;
}
