<div class="form-new-contract">
  <%= simple_form_for [ @hunter, @contract ] do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.submit "Request contract", class: "form-btn" %>
  <% end %>
</div>
