<div class="hunters">

  <div class="hunter">
    <img class="hunter-img" src="https://www.jolie-bobine.fr/wp-content/uploads/2020/08/Lionsgate-annonce-John-Wick-5-et-des-productions-consecutives.jpg" alt="">
    <h2 class="hunter-nickname">John Wick</h2>
    <p class="hunter-description">Tueur à gages</p>
    <a class="hunter-btn" href="#">Voir le profil</a>
  </div>

  <div class="hunter">
    <img class="hunter-img" src="https://www.jolie-bobine.fr/wp-content/uploads/2020/08/Lionsgate-annonce-John-Wick-5-et-des-productions-consecutives.jpg" alt="">
    <h2 class="hunter-nickname">John Wick</h2>
    <p class="hunter-description">Tueur à gages</p>
    <a class="hunter-btn" href="#">Voir le profil</a>
  </div>

    <div class="hunter">
    <img class="hunter-img" src="https://www.jolie-bobine.fr/wp-content/uploads/2020/08/Lionsgate-annonce-John-Wick-5-et-des-productions-consecutives.jpg" alt="">
    <h2 class="hunter-nickname">John Wick</h2>
    <p class="hunter-description">Tueur à gages</p>
    <a class="hunter-btn" href="#">Voir le profil</a>
  </div>

    <div class="hunter">
    <img class="hunter-img" src="https://www.jolie-bobine.fr/wp-content/uploads/2020/08/Lionsgate-annonce-John-Wick-5-et-des-productions-consecutives.jpg" alt="">
    <h2 class="hunter-nickname">John Wick</h2>
    <p class="hunter-description">Tueur à gages</p>
    <a class="hunter-btn" href="#">Voir le profil</a>
  </div>

    <div class="hunter">
    <img class="hunter-img" src="https://www.jolie-bobine.fr/wp-content/uploads/2020/08/Lionsgate-annonce-John-Wick-5-et-des-productions-consecutives.jpg" alt="">
    <h2 class="hunter-nickname">John Wick</h2>
    <p class="hunter-description">Tueur à gages</p>
    <a class="hunter-btn" href="#">Voir le profil</a>
  </div>


</div>
