.banner {
  position: relative;
  top: -16px;
}

.background {
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100%;
}
 .btn {
    position: absolute;
    bottom: 26%;
    right: 33%;
    height: 50px;
    display: flex;
    width: 120px;
    font-size: 19px;
    border: 1px solid #ff1716eb;
    background-color: transparent;
    align-content: stretch;
    justify-content: space-around;
    align-items: center;
 }
