
.hunters {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.hunter {
  background-color:rgba(20, 20, 20, 0.916);
  box-shadow: 2px 5px 14px rgba(0,0,0,0.8);
  padding: 24px 24px;
  width: 280px;
  height: 470px;
  min-width: 280px;
  margin: 24px 20px;
  border: 1px solid #ffffff1a;
  border-radius: 4px;
  position: relative;
}

.hunter-nickname {
  color: azure;
  position: relative;
  border-bottom: 1px solid red;
  /* text-shadow: 1px 0px 3px rgb(0 0 0 / 80%); */
  text-align: center;
}

.hunter-description {
  color: white;
  position: relative;
  text-align: center;
  font-style: italic;
  font-size: 13px;
}

.hunter-price {
  color: white;
  position: relative;
  text-align: center;
  top: 6px;
}
.hunter-specs {
  position: relative;
  text-align: center;
  font-style:bold;
}
.hunter-spec {
  color: #111111;
  background-color: #fff;
  border-radius: 6px;
  padding: 2px 4px;
  position: relative;
  text-align: center;
  font-style:bold;
}

.hunter-btn {
  color: #0e0e0e;
  background-color: #d23333;
  text-decoration: none;
  display: flex;
  border-bottom: 1px solid red;
  padding: 4px 10px;
  border-radius: 4px;
  position: absolute;
  bottom: 3%;
  font-size: 13px;
  left: 20%;
  height: 8%;
  align-items: center;
}

.hunter-btn:hover {
  color: #111111;
  background-color: rgb(210, 6, 6)716eb;
  transition: 2s ;
  text-decoration: none;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid red;
}

.hunter-img {
  width: 99%;
  border-radius: 2%;
  box-shadow: 0px 2px 4px rgba(0,0,0, 0.9);
  margin-bottom: 8px;
  text-align: center;
}

.hunterdiv {
  background-color: transparent;
  color: white;
  border-radius: 4px;
  border: 2px solid #ff1716eb;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.8);
  margin: 0 20%;
  padding: 16px;
  margin-bottom: 64px;
  position: relative;
  min-width: 400px;
}

.newhunt {
  text-align: center;
}

.min-height {
  min-height: 100vh;
}
