.form-new-hunter {
  margin: 50px auto;
  width: 600px;
  display: flex;
  align-items: center;
}

.form-new-contract {
  margin: 50px 50px;
  width: 50%;
}

.form-btn {
  display:flex;
  justify-content: end;
  margin-top: 20px;
  color: white;
  background: black;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 100px;
}

.form-btn:hover {
  color: black;
  background: white;
  border: solid 1px black;
  transition: 0.5s;
}

.formsigni {
  background-color: rgba($color: #000000, $alpha: 0.2);
  border: 2px solid red;
  width: 600px;
  padding: 86px 60px;
  color: white;
  margin: 9% auto;
}

.formsigni h2 {
  border-bottom: 1px solid red;
}

.centerlog {
  margin: 0px 32%;
}

.formlgbtn {
  color: white!important;
 }

 .formlgbtn:hover {
  color: #ff1716eb!important;
  border: 1px solid #fe0101eb;
 }

.forgaut {
  text-decoration: none;
  color: white;
}

.forgaut:hover {
  color: red;
}
