.form-new-hunter {
  margin: 10%;
}

.form-new-contract {
  margin: 50px 50px;
  width: 50%;
}

.form-btn {
  display:flex;
  justify-content: end;
  margin-top: 20px;
  color: white;
  background: black;
  padding: 20px;
  border-radius: 6px;
  margin-top: 16px;
}

// .form-btn:hover {
//   color: black;
//   background: white;
//   border: solid 1px black;
//   transition: 0.5s;
// }
