// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "banner";
@import "container";
@import "forms";
@import "navbar";
@import "showcard";
h1 {
  font-size: calc(1.375rem + 1.5vw);
  font-family: impact;
  text-align: center;
}
