.navbar-lewagon {
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.93);
  height: 100px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.909);
  font-size: 22px;
  border-bottom: 1px solid #ff1716eb;
  font-family: OCR A Std, monospace	;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 76px;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  right: -4px;
}

.nav-link {
  color: white !important;
  font-family: OCR A Std, monospace;
  font-weight: ligther;
}


.nav-link::after {
  content: ""!important;
  width: 0%!important;
  height: 2px!important;
  display: block!important;
  background-color: red!important;
  margin-bottom: 10px!important;
}

.nav-link:hover::before {
  width: 100%!important;
  transition: all .5s!important;
}
