.navbar-lewagon {
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.93);
  height: 100px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.909);
  font-size: 22px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 76px;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  right: -4px;
}

.nav-link {
  color: white !important;
  font-family: Roboto;
  font-weight: ligther;
}

.nav-link::after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  background-color: red;
  margin-bottom: 10px;
}

.nav-link:hover::before {
  width: 100%;
  transition: all .5s;
}
