.showcontainer {
  margin: 0 20%;
}

.showcard {
  display: flex;
  background-color: #ae2012;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

#quote {
  font-style: italic;
}

#price {
  text-align: center;
  font-size: 64px;
}

.details {
  color: white;
  padding: 16px;

  h1 {
    text-align: center;
  }
}

img {
    width: 60%;
    border-top-left-radius: 10px;
  }

.contract {
  padding: 8px;
  background-color: black;
  color: white
}
